@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import 'tailwindcss';

/* ------------------ THEME ------------------ */
@theme {
  --font-varela-round: 'Varela Round', sans-serif;    /*font*/
  --font-poppins: 'Poppins', sans-serif;              /*font*/
  --color-lavender: #c8aeb9;                          /*color*/
  --color-purple: #723585;                            /*color*/
  --color-deepgreen: #2e7d32;                         /*color*/
  --breakpoint-xs: 26.25rem;                          /*responsive design - making a new breakpoint for EXTRA SMALL*/
}

/* ------------------ BASE ------------------ */
@layer base {
  html,                                               /*html & body CSS*/
  body {
    @apply size-full;
    font-family: var(--font-varela-round);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }
}

